<div class="border border-dark rounded p-3 mt-3 bg-light">
    <h4>Guardar Marcador</h4>
    <%= render 'form', bookmark: @bookmark %>
</div>

<div class="border border-dark rounded p-3 mt-3 bg-light">
    <table class="table table-primary table-bordered">
        <thead class="text-center thead-dark">
            <tr>
                <th>URL</th>
                <th>Estado</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>

        <tbody id="tbody">
            <% @bookmarks.each do |bookmark| %>
                <tr id="bookmark_<%=bookmark.id %>">
                    <td><%= bookmark.url %></td>
                    <td><%= bookmark.status %></td>
                    <td>
                        <span class="d-flex justify-content-center">
                            <p class="mr-2"><%= link_to '<i class="far fa-edit text-center"></i>'.html_safe, edit_bookmark_path(bookmark), remote: true, class:'btn btn-warning border-dark' %></p>
                            <p><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, bookmark, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class:'btn btn-danger border-dark' %></p>
                        </span>
                    </td>
                </tr>
            <% end %>
        </tbody>

    </table>  
</div>

<div class="border border-dark rounded p-3 mt-3 bg-light">
    <h2>Crear Categoría</h2>
    <%= form_with(model: @category, url: create_category_path, method: :post, remote: true) do |form| %>

        <div class="field">
            <%= form.text_field :name, class:"input-group", placeholder: 'Nombre categoria' %>
        </div>

        <div class="field">
            <%= form.label 'Subcategoría' %>
            <%= form.select :subcategory_id, options_for_select(@subcategories.pluck(:name, :id)), remote: true, prompt: 'Selecciona una subcategoria' %>
        </div>

        <div class="field">
            <%= form.label 'Marcador' %>
            <%= form.select :bookmark_id, options_for_select(@bookmarks.pluck(:url, :id)), remote: true, prompt: 'Selecciona un marcador' %>
        </div>

        <div class="field">
            <%= form.label 'Tipo' %>
            <%= form.select :kind_id, options_for_select(@kinds.pluck(:name, :id)), remote: true, prompt: 'Selecciona un tipo' %>
        </div>

        <div class="actions">
            <%= form.submit 'Guardar', class: "btn btn-dark mt-2" %>
        </div>
    <% end %>
</div>

<div id="markers" class="border border-dark rounded p-3 mt-3 bg-light">
    <h2 class="mb-4">Marcadores</h2>

    <% @categories.each do |category| %>
        <div id="markers_<%= category.id %>" class="container-fluid mb-3">
            <table class="table table-bordered table-primary">
                <thead class="table table-dark">
                    <tr>
                        <td colspan="4">
                            <b><%= category.bookmark.url %></b>
                        </td>
                    </tr>
                </thead>
                <tr>
                    <td><b>Estado</b></td>
                    <td><b>Categoría</b></td>
                    <td><b>Subcategoria</b></td>
                    <td><b>Tipo</b></td>
                </tr>
                <tr>
                    <td><%= category.bookmark.status %></td>
                    <td><%= category.name %></td>
                    <td><%= category.subcategory.name %></td>
                    <td><%= category.kind.name %></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <%= link_to '<i class="far fa-edit"></i> Editar'.html_safe, edit_category_path(category), remote: true, class:'btn btn-warning border-dark text-dark' %>
                        <%= link_to '<i class="far fa-trash-alt"></i> Borrar'.html_safe, category, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class:'btn btn-danger border-dark text-dark' %>
                    </td>
                </tr>
            </table>
        </div>
    <% end %>
</div>

<div class="border border-dark rounded p-3 mt-3 bg-light">
    <h2>Gráfico</h2>
    <%= pie_chart @kind_graphic %>
</div>
